:root {
    --primary-color: #005a9c;
    --secondary-color: #005983;
    --background-color: #f4f4f9;
    --text-color: #333;
    --border-color: #d1d1d1;
    --white-color: #ffffff;
}

/* --- Global Styles --- */
body {
    background-color: var(--background-color);

    /* A dark grey for text, easier on the eyes than pure black */
    color: var(--text-color);

    font-family: Arial, sans-serif;

    /* Adds some space between lines of text */
    line-height: 1.6;
}

h1 {
    color: var(--primary-color);

}

